#bkImg{
       	position:fixed;
       	right:0;
       	width: 100%;
       	top:0;
       	filter:alpha(opacity=13);
       	-moz-opacity:0.13;
       	-khtml-opacity:0.13;
       	opacity:0.04;
       	z-index:-999;
       	-khtml-user-select:none;
       	-ms-user-select:none;
       	-webkit-user-select:none;
       	user-select:none;
       	-moz-user-select:none;
}
